* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to left,
    #f3f7fb,
    #f3f7fb 50%,
    #4c6fff 50%,
    #4c6fff
  );
}
/* img {
  max-width: 100%;
  display: block;
} */
.main__container {
  border-radius: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.logo {
  margin-left: -400px;
}
.carousel {
  width: 50%;
  background-color: #f3f7fb;
  height: 92vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}
.carousel__dot {
  height: 6px;
  width: 100px;
  background-color: #bbb;
  display: inline-block;
}
.active__carousel {
  background-color: #4c70ff;
}
.form {
  background-color: #f3f7fb;
  margin-left: 20%;
  margin-top: 1.5rem;
  border-radius: 0.75rem;
  width: 60%;
  padding: 13px 0px 13px 21px;
  display: flex;
  flex-direction: column;

  color: #1a1a1adb;
}
input {
  padding: 9px;
  margin: 5px 0 22px 0;
  border: rgb(29, 29, 29) 1px solid;
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 9px;
  margin: 12px 0 18px 0;
  width: 85%;
  border: 2px;
}

input[type="checkbox"] {
  margin: 0px;
  padding: 0px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
}

.btn {
  background-color: #4c6fff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  display: block;
  font-size: 16px;
  margin-bottom: 0.75rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #536cd3;
}
.circle1 {
  position: relative;
  height: 350px;
  width: 350px;
  background-color: #4c70ffe5;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 69px 0px 0px 45px;
}
.circle2 {
  height: 0px;
  width: 250px;
  background-color: #4c70ff77;
  border-radius: 50%;
  display: inline-block;
  margin: auto auto;
  position: relative;
  margin: 52px 0px 0px 10px;
}

.circle3 {
  height: 450px;
  width: 450px;
  background-color: #4c70ff12;
  border-radius: 50%;
  display: inline-block;
  margin: auto auto;
  position: relative;
  margin: -29px 0px 0px -3px;
}

.social__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.social__icons img {
  border-radius: 0.75rem;
}
.chat{
    border-radius: 25px;
    margin-left: 550px;
    margin-top: -50px;
}
.terms__policy {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }